@{
    ViewBag.Title = "About";
}
<section class="page-section">

    <h2 class="text-center">@ViewBag.Title</h2>
    <iframe id="myIframe" frameborder="0" width="100%"  src="/about.html"></iframe>

</section>
<script>
    var iframe = document.getElementById("myIframe");
    iframe.onload = function () {
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
         iframe.style.backgroundColor = "rgba(255,255,255,0.5)";
    }</script>