
@{
    ViewBag.Title = "Confirmation";
}
    <section class="page-section">
        <div class="transparent">
            <h2>Confirmation</h2>

            <p>@ViewBag.message</p>
            <p>@ViewBag.message2</p>

            </div>
    </section>